<a href="https://colab.research.google.com/github/aiyman14/DACSS-756-Machine-Learning-for-Social-Science-/blob/main/W3_Price_Prediction_with_Airbnb_Listing_Data_shared.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SCH-MGMT 661: Applications of AI Models  
**Instructor:** Indika Dissanayake  

---

## Tutorial 2: Data Preparation and Exploratory Data Analysis (EDA) and Price Prediction (Regression)
**Dataset:** Inside Airbnb ‚Äì Asheville Listings

---

This notebook extends **Tutorial 1**. The code for **Sections 1‚Äì4** (Data Loading, Data Selection, Data Preprocessing, and EDA) has already been completed and is included here for reference.  

- **Simply run through Sections 1‚Äì4 without modification** to set up your environment and dataset.  
- Begin your own work from **Section 5: Prepare for Modeling (Normalize and Split Data)**.  

In this tutorial, you will:  
- Prepare the dataset for modeling (normalization, splitting into train/test sets)  
- Build and evaluate a regression model for Airbnb price prediction  


We will be working in **Google Colab**, using an open dataset from **Inside Airbnb**, which provides transparent data on Airbnb listings across cities.

##1. Data Loading and Initial Exploration

In [1]:
# Import required libraries for data analysis and visualization

import pandas as pd              # for data manipulation
import numpy as np               # for numerical operations
import matplotlib.pyplot as plt  # for plotting
import seaborn as sns            # for enhanced visualizations

# Set a default aesthetic style for plots
sns.set(style="whitegrid")

In [2]:
# import Airbnb Listing datasets for Asheville

listings_url = 'https://data.insideairbnb.com/united-states/nc/asheville/2024-06-21/data/listings.csv.gz'

# Load the datasets into DataFrames
listings_df = pd.read_csv(listings_url, compression='gzip')

### Exercise 1: Explore the Airbnb Dataset

Use the following commands to get an initial overview of the data:

```python
listings_df.head()     # Display the first few rows  
listings_df.info()     # Explore columns, data types, and missing values  
listings_df.shape      # Shape of the DataFrame (rows, columns)

#### üîç What to Look For:

- **Dataset structure**: What kinds of columns are present? Do they look like numeric, categorical, or text?
- **Important variables**: Can you identify columns that might be useful for analysis, such as `price`, `room_type`, or `number_of_reviews`?
- **Missing data**: Are any columns showing a high number of missing (`null`) values?
- **Data types**: Are the data types appropriate for each column (e.g., numeric for prices)?
- **Size of the dataset**: How many rows and columns does the dataset contain?

In [3]:
# Ex1 a: Display the first 10 rows
listings_df.head(10)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,155305,https://www.airbnb.com/rooms/155305,20240621025915,2024-06-21,city scrape,Cottage! BonPaul + Sharky's Hostel,NaN,"We are within easy walk of pubs, breweries, mu...",https://a0.muscache.com/pictures/8880711/cf38d...,746673,...,4.75,4.92,4.58,NaN,f,8,2,2,4,2.78
1,156805,https://www.airbnb.com/rooms/156805,20240621025915,2024-06-21,city scrape,"Private Room ""Ader"" at BPS Hostel",NaN,"Easy walk to pubs, cafes, bakery, breweries, l...",https://a0.muscache.com/pictures/23447d55-fa7e...,746673,...,4.61,4.84,4.46,NaN,t,8,2,2,4,0.43
2,156926,https://www.airbnb.com/rooms/156926,20240621025915,2024-06-21,city scrape,"Mixed Dorm ""Top Bunk #1"" at BPS Hostel",This is a top bunk in the mixed dorm room<br /...,NaN,https://a0.muscache.com/pictures/5fa7178e-c514...,746673,...,4.77,4.78,4.78,NaN,t,8,2,2,4,2.17
3,197263,https://www.airbnb.com/rooms/197263,20240621025915,2024-06-21,city scrape,Tranquil Room & Private Bath,"This is a comfy, peaceful and clean room with ...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,961396,...,4.93,4.85,4.98,NaN,f,2,1,1,0,0.57
4,209068,https://www.airbnb.com/rooms/209068,20240621025915,2024-06-21,city scrape,Terrace Cottage,NaN,Our beautiful Grove Park Historic District clo...,https://a0.muscache.com/pictures/1829924/9f3bf...,1029919,...,4.98,4.94,4.79,NaN,f,1,1,0,0,0.42
5,246315,https://www.airbnb.com/rooms/246315,20240621025915,2024-06-21,city scrape,Asheville Dreamer's Cabin,"Hi there,<br />I am usually here half of each ...",NaN,https://a0.muscache.com/pictures/5908617/cfe79...,1292070,...,4.65,4.67,4.59,NaN,f,3,2,1,0,0.35
6,259576,https://www.airbnb.com/rooms/259576,20240621025915,2024-06-21,city scrape,"Private, Peaceful, and Free Goat Therapy","Privacy, peaceful, sweet comfortable apartment...",NaN,https://a0.muscache.com/pictures/3564e991-a326...,1362726,...,4.99,4.92,4.95,NaN,t,1,1,0,0,5.49
7,314540,https://www.airbnb.com/rooms/314540,20240621025915,2024-06-21,city scrape,Asheville Urban Farmhouse Entire Home 4.6 mi t...,Step back in time to this ethereal Dutch stone...,City vibes with country appeal. Peaceful neigh...,https://a0.muscache.com/pictures/miso/Hosting-...,381660,...,4.96,4.87,4.91,NaN,f,1,1,0,0,0.16
8,427497,https://www.airbnb.com/rooms/427497,20240621025915,2024-06-21,city scrape,Luxurious Mountain Guest Suite Apartment,Escape to our beautifully furnished luxurious ...,The neighborhood is peaceful and quiet. It has...,https://a0.muscache.com/pictures/4980195/acf66...,1909922,...,4.93,4.93,4.89,NaN,t,1,1,0,0,0.33
9,433646,https://www.airbnb.com/rooms/433646,20240621025915,2024-06-21,city scrape,Room in Historic Arts and Craft Home,This beautiful 1925's Art and Crafts home is l...,We are centrally located in the up and coming ...,https://a0.muscache.com/pictures/7235230/d9057...,1931430,...,4.86,4.32,4.51,NaN,f,2,0,2,0,0.77

In [4]:
# Ex1 b: Explore columns, data types, and non-null counts
listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3031 entries, 0 to 3030
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            3031 non-null   int64
 1   listing_url                                   3031 non-null   object
 2   scrape_id                                     3031 non-null   int64
 3   last_scraped                                  3031 non-null   object
 4   source                                        3031 non-null   object
 5   name                                          3031 non-null   object
 6   description                                   2939 non-null   object
 7   neighborhood_overview                         2205 non-null   object
 8   picture_url                                   3031 non-null   object
 9   host_id                                       3031 non-null   int64
 10  host_url                                      3031 non-null   object
 11  host_name                                     3031 non-null   object
 12  host_since                                    3031 non-null   object
 13  host_location                                 2551 non-null   object
 14  host_about                                    1919 non-null   object
 15  host_response_time                            2764 non-null   object
 16  host_response_rate                            2764 non-null   object
 17  host_acceptance_rate                          2873 non-null   object
 18  host_is_superhost                             2984 non-null   object
 19  host_thumbnail_url                            3031 non-null   object
 20  host_picture_url                              3031 non-null   object
 21  host_neighbourhood                            1116 non-null   object
 22  host_listings_count                           3031 non-null   int64
 23  host_total_listings_count                     3031 non-null   int64
 24  host_verifications                            3031 non-null   object
 25  host_has_profile_pic                          3031 non-null   object
 26  host_identity_verified                        3031 non-null   object
 27  neighbourhood                                 2205 non-null   object
 28  neighbourhood_cleansed                        3031 non-null   int64
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      3031 non-null   float64
 31  longitude                                     3031 non-null   float64
 32  property_type                                 3031 non-null   object
 33  room_type                                     3031 non-null   object
 34  accommodates                                  3031 non-null   int64
 35  bathrooms                                     2892 non-null   float64
 36  bathrooms_text                                3031 non-null   object
 37  bedrooms                                      3010 non-null   float64
 38  beds                                          2892 non-null   float64
 39  amenities                                     3031 non-null   object
 40  price                                         2892 non-null   object
 41  minimum_nights                                3031 non-null   int64
 42  maximum_nights                                3031 non-null   int64
 43  minimum_minimum_nights                        3031 non-null   int64
 44  maximum_minimum_nights                        3031 non-null   int64
 45  minimum_maximum_nights                        3031 non-null   int64
 46  maximum_maximum_nights                        3031 non-null   int64
 47  minimum_nights_avg_ntm                        3031 non-null   float64
 48  maximum_nights_avg_ntm                        3031 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              3011 non-null   object
 51  availability_30                               3031 non-null   int64
 52  availability_60                               3031 non-null   int64
 53  availability_90                               3031 non-null   int64
 54  availability_365                              3031 non-null   int64
 55  calendar_last_scraped                         3031 non-null   object
 56  number_of_reviews                             3031 non-null   int64
 57  number_of_reviews_ltm                         3031 non-null   int64
 58  number_of_reviews_l30d                        3031 non-null   int64
 59  first_review                                  2812 non-null   object
 60  last_review                                   2812 non-null   object
 61  review_scores_rating                          2812 non-null   float64
 62  review_scores_accuracy                        2808 non-null   float64
 63  review_scores_cleanliness                     2808 non-null   float64
 64  review_scores_checkin                         2807 non-null   float64
 65  review_scores_communication                   2808 non-null   float64
 66  review_scores_location                        2808 non-null   float64
 67  review_scores_value                           2808 non-null   float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              3031 non-null   object
 70  calculated_host_listings_count                3031 non-null   int64
 71  calculated_host_listings_count_entire_homes   3031 non-null   int64
 72  calculated_host_listings_count_private_rooms  3031 non-null   int64
 73  calculated_host_listings_count_shared_rooms   3031 non-null   int64
 74  reviews_per_month                             2812 non-null   float64
dtypes: float64(18), int64(24), object(33)
memory usage: 1.7+ MB

In [5]:
# Ex1 c: Display the shape of the DataFrame (rows, columns)
listings_df.shape

(3031, 75)

##2. Data Selection


### Filtering by Host Location

This dataset comes from Inside Airbnb and includes only listings located in Asheville, NC.
However, the dataset also contains information about where hosts are based. The host_location column reflects the host‚Äôs reported home location, which may differ from the location of the Airbnb unit.

---

### Exercise 2: Explore Unique Host Locations

```python
# Print all unique host locations in the dataset
print(listings_df['host_location'].unique())      # List all location names
print(len(listings_df['host_location'].unique())) # Total number of unique locations
```

### Exercise 3: Focus on Listings Managed by Local Hosts

In some analyses, we may want to focus specifically on listings managed by **local Asheville-based hosts**, rather than remote or out-of-state hosts.

There are multiple ways to filter the dataset based on the `host_location` column:

```python
# Option 1: Exact match (case-sensitive)
asheville_df = listings_df[listings_df['host_location'] == 'Asheville, NC']

# Option 2: Case-insensitive match using string contains
asheville_df = listings_df[listings_df['host_location'].str.contains('Asheville', case=False, na=False)]

#### üîç What to Look For:

- **Local vs. remote hosts**: Are Asheville listings mostly managed by local hosts or by hosts living elsewhere?
- **Location formatting**: Are the city names consistent (e.g., "Asheville, NC" vs. "Asheville")?
- **Missing data**: Are there any `NaN` values in the `host_location` column?
- **Need for data cleaning**: Is the `host_location` column reliable for filtering, or might it require additional cleaning?
- **Subset success**: After filtering, does the new DataFrame (`asheville_df`) contain only Asheville listings by local hosts? What is the shapeof the filtered dataset

In [6]:
# Ex 2: Print all unique host locations in the dataset
print(listings_df['host_location'].unique())      # List all location names
print(len(listings_df['host_location'].unique())) # Total number of unique locations

['Asheville, NC' 'Fort Lauderdale, FL' nan 'Lexington, KY' 'Fletcher, NC'
 'Evanston, IL' 'Winston-Salem, NC' 'Sebring, FL' 'Austin, TX'
 'Chicago, IL' 'Weaverville, NC' 'North Carolina, United States'
 'Cartersville, GA' 'Newland, NC' 'Arden, NC' 'Candler, NC'
 'Mount Dora, FL' 'Savannah, GA' 'San Diego, CA' 'Miami, FL'
 'Wilmington, NC' 'Flat Rock, NC' 'Barnardsville, NC' 'Fayetteville, NC'
 'Lido Beach, NY' 'Charleston, SC' 'Laguna Beach, CA'
 'Peterborough, Canada' 'United States' 'Brevard, NC' 'Atlanta, GA'
 'Columbia, MD' 'Rocky Mount, NC' 'Woodfin, NC' 'Charlotte, NC'
 'Old Fort, NC' 'Swannanoa, NC' 'Floyds Knobs, IN' 'Saint Petersburg, FL'
 'Arvada, CO' 'Santa Fe, NM' 'Raleigh, NC' 'Mobile, AL' 'Sarasota, FL'
 'New York, United States' 'Boston, MA' 'San Francisco, CA'
 'Vitorino dos Pi√£es, Portugal' 'Johnson City, TN' 'Roswell, GA'
 'Denver, CO' 'Myrtle Beach, SC' 'DeLand, FL' 'Hendersonville, NC'
 'Indianapolis, IN' 'Los Angeles, CA' 'Hemphill, TX' 'Pittsboro, NC'
 'Wake Forest, NC' 'Bunnell, FL' 'Seattle, WA' 'Huntersville, NC'
 'Merritt, NC' 'Topsail Beach, NC' 'Volcano, HI' 'Zirconia, NC'
 'St. Petersburg, FL' 'Tuscaloosa, AL' 'Marshall, NC' 'Monroe, NC'
 'Orlando, FL' 'Greenville, SC' 'New York, NY' 'Yorba Linda, CA'
 'Chapel Hill, NC' 'Carrboro, NC' 'Black Mountain, NC' 'Truckee, CA'
 'California, United States' 'Cincinnati, OH' 'Hughesville, MD'
 'Port Orange, FL' 'Waynesville, NC' 'San Antonio, TX' 'Leicester, NC'
 'Ojai, CA' 'Tampa, FL' 'Concord, NC' 'Silver Spring, MD'
 'Cocoa Beach, FL' 'Morristown, NJ' 'Bent Creek, NC' 'Boulder, CO'
 'Georgia, United States' 'Delray Beach, FL' 'Bradenton, FL'
 'Greensboro, NC' 'Houston, TX' 'Boca Raton, FL' 'Simpsonville, SC'
 'Spokane, WA' 'Sebastopol, CA' 'Hollywood, FL' 'Apex, NC' 'Oakland, CA'
 'Monterey, CA' 'Marion, NC' 'Washington, DC' 'Tulsa, OK' 'Hickory, NC'
 'Williamston, MI' 'St. Augustine, FL' 'Chester, MD' 'Providence, RI'
 'Sunset, SC' 'Plano, TX' 'Miami Beach, FL' 'Westbury, NY' 'Fort Mill, SC'
 'Burnsville, NC' 'Cedar Rapids, IA' 'Morrisville, NC'
 'Carolina Beach, NC' 'Littleton, CO' 'Essex, VT' 'Fort Worth, TX'
 'Fairview, NC' 'New Orleans, LA' 'Durham, NC' 'Columbia, SC' 'Marvin, NC'
 'Wellington, FL' 'Jacksonville, FL' 'Newburyport, MA' 'Dallas, TX'
 'Pompano Beach, FL' 'Davidson, NC' 'Kihei, HI' 'Mooresville, NC'
 'East Lansing, MI' 'Novato, CA' 'Thunderbolt, GA'
 'New Hampshire, United States' 'Melbourne Beach, FL' 'Tavernier, FL']
145

In [7]:
# Ex 3: Filter Listings for Asheville
asheville_df = listings_df[listings_df['host_location'] == 'Asheville, NC']

In [8]:
# Shape of the filtered dataset
asheville_df.shape

(2003, 75)

### Subset by Columns: Selecting Relevant Features

Now that we‚Äôve filtered the dataset for Asheville listings, let‚Äôs simplify it further by selecting a smaller set of **useful columns** for analysis.

We‚Äôll keep:
- **Numerical columns**: e.g., `price`, `bathrooms`,`bedrooms`, `number_of_reviews`, `latitude`, `longitude`
- **Categorical columns**: e.g., `room_type`, `host_identity_verified`, `host_is_superhost`

---

### Exercise 4: Create a Subset of Columns

```python
# Define the columns we want to keep
selected_columns = [
    'price', 'bathrooms','bedrooms', 'number_of_reviews', 'latitude',
    'longitude', 'room_type', 'host_identity_verified', 'host_is_superhost'
]

# Create a new DataFrame with only the selected columns
asheville_df = asheville_df[selected_columns]

# Preview the first few rows of the subset
asheville_df.head()

#### üîç What to Look For:

- **Missing values**: Do any columns like `bathrooms`, `bedrooms`, or `number_of_reviews` have missing entries?
- **Inconsistent formats**: Is the `price` column stored as a string or object (e.g., with `$`) instead of a numeric type?
- **Data types**: Are numeric-looking columns like `bathrooms`, `bedrooms`, and `price` actually of the correct data type?
- **Binary columns**: Are values in `host_is_superhost` and `host_identity_verified` stored as `'t'`/`'f'`? Would it be better to convert them to `1`/`0`?
- **Categorical columns**: Is `room_type` ready for modeling, or does it need to be one-hot encoded?
- **Geolocation columns**: Are `latitude` and `longitude` necessary for your analysis, or could they be dropped or used later for mapping?

These observations will guide how you clean, transform, and prepare your data in the next step: **Data Pre-processing**.

In [9]:
#Ex 4:  Define the columns we want to keep and create a new dataframe with the selected columns
selected_columns = [
    'price', 'bathrooms','bedrooms', 'number_of_reviews', 'latitude',
    'longitude', 'room_type', 'host_identity_verified', 'host_is_superhost'
]

asheville_df = asheville_df[selected_columns]

In [10]:
# Preview the first few rows of the new dataframe
asheville_df.head()

,price,bathrooms,bedrooms,number_of_reviews,latitude,longitude,room_type,host_identity_verified,host_is_superhost
0,$99.00,1.0,1.0,437,35.57864,-82.59578,Entire home/apt,t,t
1,$66.00,2.5,1.0,67,35.57864,-82.59578,Private room,t,t
2,$26.00,2.5,1.0,339,35.57864,-82.59578,Shared room,t,t
3,$49.00,1.0,1.0,82,35.57735,-82.63804,Private room,t,t
4,$100.00,1.0,1.0,65,35.61736,-82.55074,Entire home/apt,t,t

##3. Data Pre Processing
**(Handling missing values, Correcting Data Types, Data Transformation)**

### Exercise 5: Handling Missing Values

Missing data is common in real-world datasets. Before modeling or analysis, we need to decide how to handle it in a way that makes sense for the variable type and purpose.

---

### 5.1: Check for Missing Values

```python
# Count missing values in each column
asheville_df.isnull().sum()
```
---
### 5.2: Dropping Columns or Rows with Missing Values

Since we'll use price as the target variable for a prediction model in the next unit, let's not impute missing price values. Imputing the target could distort model training. Let's drop the records with missing price values. Then we can check the dataframe again for the missing values

```python
# Drop rows where the target variable (price) is missing
asheville_df = asheville_df.dropna(subset=['price'])

# Count missing values in each column
asheville_df.isnull().sum()
```

---


### 5.3: Choosing an Imputation Strategy

There are different ways to fill in missing values:

- **Mean Imputation**: Uses the average value (best for normally distributed data).
- **Median Imputation**: Uses the middle value (more robust to outliers and skewed data).
- **Mode Imputation**: Uses the most frequent value (best for categorical data).

```python

# Below are examples. Select one appropriate strategy per feature, not all at once.

# Impute 'bedrooms' using median
asheville_df['bedrooms'] = asheville_df['bedrooms'].fillna(asheville_df['bedrooms'].median())

# Impute 'bathrooms' using mean
asheville_df['bathrooms'] = asheville_df['bathrooms'].fillna(asheville_df['bathrooms'].mean())

# Impute 'host_is_superhost' using mode
asheville_df['host_is_superhost'] = asheville_df['host_is_superhost'].fillna(
    asheville_df['host_is_superhost'].mode()[0]
)
```

#### üîç What to Look For:

- **Which columns had missing values originally?**  

- **Did we drop rows only where `price` was missing?**  

- **Did missing values remain in other columns after dropping rows?**  

- **Were appropriate imputation strategies used per column?**  

- **Are all missing values now handled?**  

> Tip: Now that missing values are handled, inspect your dataset using .dtypes to verify column types and .describe() to explore statistical properties of numeric columns. This helps catch formatting or conversion issues before the next step

```python
# check data types
asheville_df.dtypes

# generate descriptive statistics
asheville_df.describe()

```

In [11]:
# 5.1: Check for missing values in each column
asheville_df.isnull().sum()

price                     100
bathrooms                 100
bedrooms                   13
number_of_reviews           0
latitude                    0
longitude                   0
room_type                   0
host_identity_verified      0
host_is_superhost          28
dtype: int64

In [12]:
# 5.2: Drop rows where the target variable (price) is missing and then re-check for missing values
asheville_df = asheville_df.dropna(subset=['price'])
asheville_df.isnull().sum()

price                      0
bathrooms                  0
bedrooms                   0
number_of_reviews          0
latitude                   0
longitude                  0
room_type                  0
host_identity_verified     0
host_is_superhost         28
dtype: int64

In [13]:
# 5.3: Use one of the imputation methods to impute missing values, if there are any missing values after dropping records in step 2
asheville_df['host_is_superhost'] = asheville_df['host_is_superhost'].fillna(
    asheville_df['host_is_superhost'].mode()[0]
)
asheville_df.isnull().sum()

price                     0
bathrooms                 0
bedrooms                  0
number_of_reviews         0
latitude                  0
longitude                 0
room_type                 0
host_identity_verified    0
host_is_superhost         0
dtype: int64

In [14]:
# check data types
asheville_df.dtypes

price                      object
bathrooms                 float64
bedrooms                  float64
number_of_reviews           int64
latitude                  float64
longitude                 float64
room_type                  object
host_identity_verified     object
host_is_superhost          object
dtype: object

In [15]:
# generate descriptive statistics
asheville_df.describe()

        bathrooms     bedrooms  number_of_reviews     latitude    longitude
count  1903.00000  1903.000000        1903.000000  1903.000000  1903.000000
mean      1.53258     1.800315         131.829743    35.581414   -82.557001
std       0.89542     1.252992         160.772908     0.041928     0.047012
min       0.00000     0.000000           0.000000    35.426930   -82.670727
25%       1.00000     1.000000          20.000000    35.568280   -82.591448
50%       1.00000     1.000000          74.000000    35.587680   -82.556170
75%       2.00000     2.000000         180.000000    35.605030   -82.524005
max       9.00000    12.000000        1333.000000    35.654710   -82.460210

### Exercise 6: Fixing Data Types and Encoding Columns

Now that we‚Äôve handled missing values, let‚Äôs make sure our dataset has the correct data types and is ready for modeling. We‚Äôll fix any incorrectly stored data types and encode categorical or boolean fields.

---

### 6.1: Identify Incorrect Data Types

We already checked `.dtypes` and `.describe()` in the previous exercise. Let‚Äôs now review what needs fixing:

- The `price` column is stored as `object` instead of numeric.
- Boolean-like columns (`host_identity_verified`, `host_is_superhost`) use `'t'` and `'f'` strings.
- The `room_type` column is categorical and may need encoding for machine learning.

---

### 6.2: Convert `price` to Numeric

```python
# Remove $ and convert to float
asheville_df['price'] = asheville_df['price'].replace(r'[\$,]', '', regex=True).astype(float)
```

---

### 6.3: Convert Boolean-like Columns

```python
# Convert 't'/'f' to 1/0
asheville_df['host_identity_verified'] = asheville_df['host_identity_verified'].map({'t': 1, 'f': 0})
asheville_df['host_is_superhost'] = asheville_df['host_is_superhost'].map({'t': 1, 'f': 0})
```
---

### 6.4: Encode Categorical Column

```python
# One-hot encode 'room_type'
room_type_dummies = pd.get_dummies(asheville_df['room_type'], prefix='room_type', drop_first=True)
room_type_dummies = room_type_dummies.astype(int)

# Add new columns to the DataFrame
asheville_df = pd.concat([asheville_df, room_type_dummies], axis=1)

# Optional: Drop the original categorical column if you want
# asheville_df.drop('room_type', axis=1, inplace=True)
```

### üîç What to Look For:

- **Was the `price` column successfully converted to a numeric type?**  

- **Do the boolean columns now contain 1s and 0s instead of strings?**  

- **Did one-hot encoding work as expected?**  


> Use `.dtypes` to confirm column types and `.head()` to visually inspect the first few rows.

In [ ]:
# 6.2: Convert price to Numeric
asheville_df['price'] = asheville_df['price'].replace(r'[\$,]', '', regex=True).astype(float)

In [ ]:
# 6.3: Convert Boolean-like Columns
asheville_df['host_identity_verified'] = asheville_df['host_identity_verified'].map({'t': 1, 'f': 0})
asheville_df['host_is_superhost'] = asheville_df['host_is_superhost'].map({'t': 1, 'f': 0})

In [ ]:
# 6.4: Encode Categorical Column

room_type_dummies = pd.get_dummies(asheville_df['room_type'], prefix='room_type', drop_first=True)
room_type_dummies = room_type_dummies.astype(int)

# Add new columns to the DataFrame
asheville_df = pd.concat([asheville_df, room_type_dummies], axis=1)
asheville_df.drop('room_type', axis=1, inplace=True)

asheville_df.head()

##4. Exploratory Data Analysis

###  Exercise 7: Exploratory Data Analysis (EDA)
Now that our dataset is cleaned and properly formatted, we can explore its structure and relationships using visual and statistical techniques.

---

## 7.1: Descriptive Statistics

Use `.describe()` to get a statistical summary of numeric features.

```python
asheville_df.describe()
```
---
## 7.2 : Histrograms of Distributions
Visualize distributions of numerical variables like price, bedrooms, bathrooms, and number_of_reviews.

```python
numeric_cols = ['price', 'bedrooms', 'bathrooms', 'number_of_reviews']
asheville_df[numeric_cols].hist(bins=30, figsize=(10,8))
plt.tight_layout()
plt.show()
```
## 7.3: Pair Plot
Understand relationships and potential clusters in the data..

```python
sns.pairplot(asheville_df[numeric_cols])
plt.show()
```

## 7.4: Correlation Matrix
See how variables relate to each other. Useful for feature selection and multicollinearity detection.

```python
corr = asheville_df.corr()
sns.heatmap(corr, annot=True, cmap='coolwarm', fmt=".2f")
plt.title("Correlation Matrix")
plt.show()
```

### 7.5: Handling Outliers

e.g., As you may have observed from the earlier descriptive statistics and distribution plots, the `price` variable is highly skewed.

Most listings fall within a reasonable range, but a small number have unusually high prices. These outliers can distort visualizations and affect the performance of models later on.

To address this, we‚Äôll use the **99th percentile rule** to filter out the top 1% of extreme values ‚Äî a common practice when working with skewed real-world data.

```python
# Visualize the original price distribution
plt.figure(figsize=(10, 4))
sns.histplot(asheville_df['price'], bins=50, kde=True, color='green')
plt.title("Price Distribution (Before Removing Top 1%)")
plt.xlabel("Price")
plt.show()
```

```python
# Remove top 1% of extreme price values
price_cap = asheville_df['price'].quantile(0.99)
asheville_df = asheville_df[asheville_df['price'] <= price_cap]
```
```python
# Visualize the cleaned price distribution
plt.figure(figsize=(10, 4))
sns.histplot(asheville_df['price'], bins=50, kde=True, color='green')
plt.title("Price Distribution (After Removing Top 1%)")
plt.xlabel("Price")
plt.show()
```

### 7.6: Geospatial Plot

Visualize the geographic distribution of listings using latitude and longitude. Color can be used to represent listing price or categories.

We create **price buckets** to group listings into four categories:

- Less than $100  
- $100‚Äì$200  
- $200‚Äì$300  
- Greater than $300  

Using `plotly.express.scatter_mapbox`, we plot an **interactive map** that lets us:

- Zoom and pan around the city  
- Hover over listings to view price, bedroom, and bathroom details  
- Identify potential geographic pricing patterns (e.g., higher prices in city center vs outskirts)

```python
import plotly.express as px

# Create price buckets
asheville_df['price_range'] = pd.cut(
    asheville_df['price'],
    bins=[0, 100, 200, 300, asheville_df['price'].max()],
    labels=['< $100', '$100‚Äì$200', '$200‚Äì$300', '>$300']
)

# Plot the interactive map
fig = px.scatter_mapbox(
    asheville_df,
    lat='latitude',
    lon='longitude',
    color='price_range',
    hover_data=['price', 'bedrooms', 'bathrooms'],
    zoom=10,
    mapbox_style="open-street-map",
    title="Airbnb Listings in Asheville by Price Range"
)

fig.show()
```

üîç What to Look For:

Use this section to uncover patterns, spot outliers, and understand relationships between variables. Key things to explore:

- **Are the numeric variables (like price, bedrooms, bathrooms) distributed normally or skewed?**

- **Are there any correlations between variables?**

- **Are there any surprising or extreme values (outliers)?**

- **Are there geographic patterns in pricing?**
  - Use the geospatial plot to spot high-price clusters or neighborhoods with dense listings.

Tip: EDA insights guide feature selection and transformation decisions before modeling. Take notes on variables that might need normalization, binning, winzorizing, or removal.

In [ ]:
# 7.1: Descriptive Statistics

asheville_df.describe()

In [ ]:
# 7.2: Histrograms of Distributions

numeric_cols = ['price', 'bedrooms', 'bathrooms', 'number_of_reviews']
asheville_df[numeric_cols].hist(bins=30, figsize=(10,8))
plt.tight_layout()
plt.show()

In [ ]:
# 7.3: Pair Plot
sns.pairplot(asheville_df[numeric_cols])
plt.show()

In [ ]:
corr = asheville_df.corr()
sns.heatmap(corr, annot=True, cmap='coolwarm', fmt=".2f")
plt.title("Correlation Matrix")
plt.show()

 7.5: Hadling price outliers

In [ ]:
# Visualize the original price distribution
plt.figure(figsize=(10, 4))
sns.histplot(asheville_df['price'], bins=50, kde=True, color='green')
plt.title("Price Distribution (Before Removing Top 1%)")
plt.xlabel("Price")
plt.show()

In [ ]:
# Remove top 1% of extreme price values
price_cap = asheville_df['price'].quantile(0.99)
asheville_df = asheville_df[asheville_df['price'] <= price_cap]

In [ ]:
# Visualize the cleaned price distribution
plt.figure(figsize=(10, 4))
sns.histplot(asheville_df['price'], bins=50, kde=True, color='green')
plt.title("Price Distribution (After Removing Top 1%)")
plt.xlabel("Price")
plt.show()

In [ ]:
# 7.6: Geospatial Plot

import plotly.express as px

# Create price buckets
asheville_df['price_range'] = pd.cut(
    asheville_df['price'],
    bins=[0, 100, 200, 300, asheville_df['price'].max()],
    labels=['< $100', '$100‚Äì$200', '$200‚Äì$300', '>$300']
)

# Plot the interactive map
fig = px.scatter_mapbox(
    asheville_df,
    lat='latitude',
    lon='longitude',
    color='price_range',
    hover_data=['price', 'bedrooms', 'bathrooms'],
    zoom=10,
    mapbox_style="open-street-map",
    title="Airbnb Listings in Asheville by Price Range"
)

fig.show()

##5. Prepare for Modeling (Normalize and Split Data)

In this step, we prepare our dataset for training a neural network using Keras:

- **Feature Selection**: We select a subset of relevant numeric features for predicting listing price, including `bedrooms`, `bathrooms`, `number_of_reviews`, and so on.

- **Train-Test Split**: The dataset is split into training and testing sets using an 80/20 split, ensuring consistent results with `random_state=42`.

```python
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
```

- **Normalization with Keras Layer**: Instead of using `StandardScaler` from scikit-learn, we utilize Keras‚Äôs built-in `Normalization` layer. This approach is fully integrated into the model pipeline and ensures that normalization is learned from the training data only.

```python
norm = Normalization()
norm.adapt(X_train.values)  # Learns mean and variance from training data

In [ ]:
# Imports required libraries for pre-processing and modeling

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Normalization, Input
from sklearn.model_selection import train_test_split

# Selecting a subset of numeric features relevant to pricing.
features = ['bedrooms', 'bathrooms', 'number_of_reviews', 'host_is_superhost', 'host_identity_verified']
target = 'price'

# df_model = asheville_df[features + [target]].dropna() - no need since we already cleaned the data

# Define X and y
X = asheville_df[features]
y = asheville_df[target]

# Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define and Adapt Normalization Layer
norm_layer = Normalization()
norm_layer.adapt(X_train.values)

##6. Build, Compile, and Train the Neural Network

**Create a simple Sequential model with:**

* An Input layer that defines the shape of the input features

* A Normalization layer that scales inputs based on training data

* One Dense (fully connected) hidden layer with 64 nodes and ReLU activation

* A final Dense layer with 1 output for price prediction (regression)


**Compile:**

* Loss Function: Mean Squared Error ('mse')

* Optimizer: adam

* Metric: Mean Absolute Error ('mae') for interpretability

**Training:**

* Use 20% of the training data for validation

* Train for 50 epochs

### **W3: Exercise 1: Add a Hidden Layer**
We want to add a hidden layer to our Sequential model:
- 64 nodes
- relu activation

üëâ Fill in the missing part of the code below.

In [ ]:
# Build the Sequential Model
model = Sequential([
    Input(shape=(X_train.shape[1],)),
    norm_layer,
    Dense(____, activation='____'),  # üëà Fill in the blanks
    Dense(1)  # Regression output
])

### **W3: Exercise 2: Compile the Model**
Now compile the model:
- Optimizer: `adam`
- Loss: `mse`
- Metric: `mae`

üëâ Fill in the missing arguments.

In [ ]:
# Compile the Model
model.compile(optimizer='____', loss='____', metrics=['____'])  # üëà Fill in the blanks

In [ ]:
model.summary()

In [ ]:
# display model architecture
tf.keras.utils.plot_model(model, show_shapes=True)

### **W3: Exercise 3: Train the Model**
Now let‚Äôs train our model.

We want to:
- Use **20%** of training data for validation  
- Train for **50 epochs**  

üëâ Fill in the missing arguments.

In [ ]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_split=____,   # üëà Fill in
    epochs=____,             # üëà Fill in
    verbose= 1
)

In [ ]:
import matplotlib.pyplot as plt

# Plot MAE over epochs
plt.plot(history.history['mae'], label='Train MAE')
plt.plot(history.history['val_mae'], label='Validation MAE')
plt.xlabel('Epochs')
plt.ylabel('MAE (Price)')
plt.title('Training vs Validation MAE')
plt.legend()
plt.grid(True)
plt.show()

# Plot Loss (MSE) over epochs
plt.plot(history.history['loss'], label='Train Loss (MSE)')
plt.plot(history.history['val_loss'], label='Validation Loss (MSE)')
plt.xlabel('Epochs')
plt.ylabel('MSE')
plt.title('Training vs Validation Loss')
plt.legend()
plt.grid(True)
plt.show()

In [ ]:
# Evaluate on Test Set
test_loss, test_mae = model.evaluate(X_test, y_test, verbose=0)
print(f"Test MAE: ${test_mae:.2f}")
print(f"Test Loss: ${test_loss:.2f}")

In [ ]:
# Predict first 5 test samples
predictions = model.predict(X_test[:5])
print("Sample predictions:", predictions.flatten())
print("Actual prices:", y_test[:5].values)

In [ ]:
from sklearn.metrics import mean_absolute_error, r2_score

# Predict on the test set
y_pred = model.predict(X_test)
r2 = r2_score(y_test, y_pred)

print(f"R¬≤ Score: {r2:.2f}")